--index-url https://pypi.org/simple
--extra-index-url https://www.paddlepaddle.org.cn/packages/stable/cpu/
paddlepaddle==3.2.1
paddleocr>=3.3,<4
numpy<2
fastapi>=0.115,<1
uvicorn[standard]>=0.34,<1
python-multipart>=0.0.20,<1
